main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 2500px;
    background-color: white;
    display: inline-block;
    margin-left: calc((100% - 2500px) / 2);
}
div {
    float: left;}
main > div:nth-child(1) {
    margin-top:  50px;
    margin-left: 50px;
    font-size: 60px;
    width: 65px}
main > div:nth-child(2) {
    width: 510px;
    margin-right: 0%;
    margin-top: 8%;
    margin-left: 29%; }
main > div:nth-child(3) {
    width: 600px;
    margin-top: 7%;
    margin-left: 10%;}
h1 { 
    font-size: 360px;
    color: blue;
    margin-top: 0;
    margin-bottom: 0;}
main > div:nth-child(3) > p:nth-child(2) {
    font-size: 30px;
    margin-top: 0;}
main > div:nth-child(3) > p:nth-child(3) {
    font-size: 25px;
    color: gray;}
a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin-right: 40px;}
